.header {
  display: flex;
  padding-bottom: 0.75rem;
  line-height: 1.75rem;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.avatar {
  position: relative;
  height: 56px;
  width: 56px;
  margin-right: 1.25rem;
}

.avatarOverflow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}

.avatarOverflow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.authorLinkText {
  font-weight: 700;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.username {
  font-size: 1.125rem;
  opacity: 0.6;
  margin-top: 0.125rem;
}
