.header {
  display: flex;
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.avatar {
  position: relative;
  height: 48px;
  width: 48px;
  margin-right: 1rem;
}

.avatarOverflow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.authorLinkText {
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.username {
  font-size: 1rem;
  opacity: 0.6;
}
